{:frodo/config {:web {:port 3000
                      :handler-fn sample-project.handler/app
                      :http-kit/options {:thread 100}}
                :nrepl {:port 7888
                        :brepl-port 9002}}}
